.shop {
	min-height: 200vh;
	display: flex;
	background: blue;
	color: white;

	.product {
		width: 300px;
		height: 550px;
		margin: 20px 30px;
		border: 1px solid black;
		text-align: center;

		.image {
			width: 300px;
			height: 400px;
			object-position: center;
			object-fit: cover;
		}

		.price_container {
			display: flex;
			justify-content: space-evenly;

			button {
				padding: 0 10px;
			}
		}
	}
}
